body {
    font-size: 14pt;
}

form {
    margin: 10px;
    padding: 4px;
}

label {
    margin: 5px;
    padding: 5px;
    font-size: 14pt;
    display: block;
}

input {
    margin: 10px;
    padding: 5px;
}

h2, h3 {
    text-align: center;
    text-decoration: underline;
    margin: 10px;
}

button {
    margin: 5px;
    background-color: green;
    color: white;
    font-size: 14pt;
    border-radius: 4px;
}

button.restart {
    background-color: red;
}

.centered {
    text-align: center;
}

li, p {
    margin: 5px;
}

.head-background {
    padding: 10px 0;
    text-align: center;
    background-image: linear-gradient(to right, #419f6a, #3c79b8);
    border-radius: 8px;
}

.grid_image {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px 0px;
    width: 50%;
    border: black solid 1px;
    vertical-align: middle;
}

.choice_form {
    display: inline-block;
    text-align: left;
    width: 40%;
    vertical-align: top;
    margin: 10px;
}