{% extends 'base.html' %}
{% block content %}
<section class="centered">
    <section class="grid_image">
        <img class="responsive" src="{{url_for('static', filename=image)}}" /><br>
        <p>Path followed: {{steps}}</p>
    </section>
    <section class="choice_form">
        <h2>Heading Text Here</h2>
        {% if steps|length < 9 %}
        <p>Choose a direction to move:</p>
        <form action="/" method="POST">
            
            {% for (direction, value) in choices.items() %}
            <label><input type="radio" name="choice" value={{value}} required />{{direction}}</label>
            {% endfor %}
            <input type="hidden" name="steps" value={{steps}} />
            <button>Go!</button>
        </form>
        {% else %}
        <p>You've taken five steps. Time to start over!</p>
            <form action="/" method="GET">
                <button class="restart">Restart!</button>
            </form>
        {% endif %}
    </section>
</section>


<!-- TODO:
    1) Extend the base.html template.
    2) Replace the h2 heading text.
    3) Use a Jinja3 for loop to create the radio buttons.
    4) Use a conditional to display a different form after 5 moves have been
        made over the grid.
-->

{% endblock %}